<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017285761120-rcbf184te2hoelmh32dfc2ecubfthiqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017285761120-rcbf184te2hoelmh32dfc2ecubfthiqj</string>
	<key>API_KEY</key>
	<string>AIzaSyAAoulN4QdYbZDWngoBFPWJU5oJf8z6XHc</string>
	<key>GCM_SENDER_ID</key>
	<string>1017285761120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TommyR.Final-Project-BackEnd</string>
	<key>PROJECT_ID</key>
	<string>finalbackend-1b15b</string>
	<key>STORAGE_BUCKET</key>
	<string>finalbackend-1b15b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017285761120:ios:00870ca500f1a58f9ccb05</string>
	<key>DATABASE_URL</key>
	<string>https://finalbackend-1b15b.firebaseio.com</string>
</dict>
</plist>